# List

In [1]:
numbers_list = [10, 20, 30, 40, 50]
fruits_list = ['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [2]:
#1) How do you access the third element in the numbers_list?
numbers_list[2]

30

In [3]:
#2) Write a program to add a new number (60) to the numbers_list.
numbers_list.append(60)
print (numbers_list)

[10, 20, 30, 40, 50, 60]

In [4]:
#3) Remove 'cherry' from the fruits_list.
fruits_list.pop(2)
print (fruits_list)

['apple', 'banana', 'orange', 'kiwi']

In [5]:
#4) What is the length of the numbers_list? 
print (len(numbers_list))

# initially numbers_list length is 5, but when you append any values it will returns value as 6.

6

In [6]:
#5) Check if 'banana' is present in the fruits_list.
fruits_list = ['apple', 'banana', 'cherry', 'orange', 'kiwi']
if "banana" in fruits_list:
    print ("Yes, banana is present in the fruits_list")
else:
    print ("Banana is not available in the fruits_list")

Yes, banana is present in the fruits_list

In [7]:
#6) Create a new list that contains numbers from 1 to 5 using list comprehension.
numbers_list.copy()

[10, 20, 30, 40, 50, 60]

# Tuples

In [8]:
employee_tuple = ('John Doe', 'Marketing', 50000)
coordinates_tuple = (3, 4)

In [9]:
#1) Access the second element of the employee_tuple.
employee_tuple[1]

'Marketing'

In [10]:
#2) Can you modify the elements of a tuple? Why or why not?
#--> No, Directly we can't modify the tuple, because tuples are immutable datatypes. 
#--> We can modify the tuples by converting by them to list and again convrting them back to the tuples, using constructors.

In [11]:
#3) Calculate the product of elements in the coordinates_tuple. 
coordinates_tuple = (3, 4)
coordinates_tuple[0]*coordinates_tuple[1]

12

In [12]:
#4) Convert the employee_tuple into a list.
employee_tuple = ('John Doe', 'Marketing', 50000)
print (employee_tuple)
print (type(employee_tuple))
employee_tuple = list (('John Doe', 'Marketing', 50000))
print (employee_tuple)
print (type(employee_tuple))

('John Doe', 'Marketing', 50000)
<class 'tuple'>
['John Doe', 'Marketing', 50000]
<class 'list'>

In [13]:
#5) Check if the value 5 is present in the coordinates_tuple.
coordinates_tuple = (3, 4)
print (coordinates_tuple)
if 5 in coordinates_tuple:
    print ("5 is present in the coordinates_tuple")
else:
    print ("5 is not present in the coordinates_tuple")

(3, 4)
5 is not present in the coordinates_tuple

In [14]:
#6) Create a new tuple by concatenating two tuples (1, 2, 3) and (4, 5, 6).
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = tuple1+tuple2
print (tuple3)

(1, 2, 3, 4, 5, 6)

# Sets

In [15]:
even_numbers_set = {2, 4, 6, 8, 10}
prime_numbers_set = {2, 3, 5, 7, 11}

In [16]:
#1) Find the intersection of even_numbers_set and prime_numbers_set.
even_numbers_set.intersection(prime_numbers_set)

{2}

In [17]:
#2) Add 12 to the prime_numbers_set.
prime_numbers_set.add(12)
prime_numbers_set

{2, 3, 5, 7, 11, 12}

In [18]:
#3) Remove 6 from the even_numbers_set.
even_numbers_set.remove(6)
print (even_numbers_set)

{2, 4, 8, 10}

In [19]:
#4) Check if 9 is present in the prime_numbers_set.
prime_numbers_set = {2, 3, 5, 7, 11}
print (prime_numbers_set)
if 9 in prime_numbers_set:
    print ("9 is present in the prime_number_list")
else:
    print ("9 is not present in the prime_number_list")

{2, 3, 5, 7, 11}
9 is not present in the prime_number_list

In [20]:
#5) Calculate the union of even_numbers_set and prime_numbers_set. 
even_numbers_set.union(prime_numbers_set)

{2, 3, 4, 5, 7, 8, 10, 11}

In [21]:
#6) Create a new set with the unique elements from [1, 2, 2, 3, 4, 5, 5, 6].
set1 = {1,2,3,4,5,5,6}
set1
# [1, 2, 2, 3, 4, 5, 5, 6] in the given list 8 elements are present and the sets don't accept the duplicates, so the output will be
#output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

# Dictionaries

In [22]:
student_scores = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 68, 'Emma': 95}
product_prices = {'apple': 1.99, 'banana': 0.99, 'orange': 1.49}

In [23]:
#1) Access the score of 'Charlie' in the student_scores dictionary.
student_scores["Charlie"]

92

In [24]:
#2) Calculate the total price if you buy 3 apples, 2 bananas, and 1 orange.
product_prices = {'apple': 1.99, 'banana': 0.99, 'orange': 1.49}
product_prices = {'apple': 1.99, 'banana': 0.99, 'orange': 1.49}
quantities = {'apple': 3, 'banana': 2, 'orange': 1}
total_price = sum(quantities[item] * product_prices[item] for item in quantities)
print("Total price:", total_price)

Total price: 9.44

In [25]:
#3) Add a new student 'Frank' with a score of 80 to the student_scores dictionary. 
student_scores = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 68, 'Emma': 95}
student_scores["Frank"] = 80
print (student_scores)

{'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 68, 'Emma': 95, 'Frank': 80}

In [26]:
#4) Remove 'banana' from the product_prices dictionary.
product_prices = {'apple': 1.99, 'banana': 0.99, 'orange': 1.49}
print (product_prices)
product_prices.pop("banana")
print (product_prices)

{'apple': 1.99, 'banana': 0.99, 'orange': 1.49}
{'apple': 1.99, 'orange': 1.49}

In [27]:
#5) Check if 'Alice' is present in the student_scores dictionary.
student_scores = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 68, 'Emma': 95}
print (student_scores)
if "Alice" in student_scores:
    print ("Alice is present Student_list")
else:
    print ("Alice is present Student_list")

{'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 68, 'Emma': 95}
Alice is present Student_list

In [28]:
#6) Create a new dictionary with the squares of numbers from 1 to 5 as keys.
Dictsq = {1:1, 2:4, 3:9, 4:16, 5:25}
print (Dictsq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# DataTypes and Variables

In [29]:
#1)What are the different data types used in Python?
#Ans-> There are manily two types of the datatypes i. Mutuable datatypes ii. Immutable datatypes 
# Mutuable datatypes -> The data entered values we can change anytime, [List], {Dictionaries}
# Immutable datatypes -> The data enterted values we cant change., (Tuples), {Sets}
# Datatypes -> Numeric Datatypes, Logical datattypes, Strings, Boolean values, sequencial

In [30]:
#2) Define a variable named 'message' and assign it the value "Hello, World!".
#Variable = "Variable is a name, which is used to refer the particular memory location"
message = "Hello World!"

In [31]:
#3) Convert the string "123" to an integer.
num= 123
print (type(num))
num="123"
print (type(num))

<class 'int'>
<class 'str'>

In [32]:
#4) Check if the variable 'message' is of type string.
print (type(message))

<class 'str'>

In [33]:
#5) Calculate the result of 10 divided by 3 using floating-point division.
num1 = float(10)/3
num1

3.3333333333333335

In [34]:
#6) Create a boolean variable named 'is_valid' and set it to True.
a = "is_valid"
if a in "is_valid":
    print (a)

is_valid

# For loop

In [35]:
#1) Write a program to print numbers from 1 to 10 using a for loop. 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
#2) Calculate the sum of numbers from 1 to 100 using a for loop. 
total =0
for i in range(1,101):
    total += i
print ("The total sum: ", total)

The total sum:  5050

In [37]:
#3) Print the elements of the fruits_list using a for loop.
for a in fruits_list:
    print(a)

apple
banana
cherry
orange
kiwi

In [42]:
#4) Calculate the factorial of a number using a for loop.
n = int(input("Enter any number: "))
f = 1
for i in range(n, 0, -1):
    f *= i
print ("The factorial of the number is:",f)

Enter any number: 6
The factorial of the number is: 720

In [39]:
#5) Print the keys of the student_scores dictionary using a for loop.
for k in student_scores:
    print (k)

Alice
Bob
Charlie
David
Emma

In [40]:
#6) Write a program to find the average of numbers in the numbers_list using a for loop
numbers_list = [10, 20, 30, 40, 50]

total = 0
count = 0
for number in numbers_list:
    total += number
    count += 1
Average= total/count
print ("The total average of the list:",Average)

The total average of the list: 30.0

# If_Else Statement

In [43]:
#1) Write a program to check if a number is positive, negative, or zero. 
a = 12
b = -12
c = 0 
if a == 12:
    print ("Positive Number")
elif b == -12:
    print ("Negative number")
elif c == 0:
    print ("The number is zero")
else:
    print ("No numbers are available")

Positive Number

In [51]:
#2) Check if a given year is a leap year or not.
n = int(input("The year:"))
if n%4==0:
    print ("The year is a leap year")
else:
    print ("The year is not a leap year")

The year:2014
The year is not a leap year

In [54]:
#3) Find the maximum of three numbers using if-else statements.
a = 20
b = 30
c = 40
if c>b>a:
    print ("The highest number between 20&30&40 is 40")
else:
    print ("The lowest number between 20&30&40 is 20")

The highest number between 20&30&40 is 40

In [55]:
#4) Check if a key is present in the employee_tuple.
employee_tuple = ('John Doe', 'Marketing', 50000)
index = 1
# Assuming 'Marketing' is the key you want to check
if index < len(employee_tuple):
    print("The key is present in the employee_tuple at index", index)
else:
    print("The key is not present in the employee_tuple")

The key is present in the employee_tuple at index 1

In [64]:
#5) Determine if a student passed or failed based on their score.
student_scores = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 59, 'Emma': 95, "Sam":33}
passing_criteria = 60  # Define passing threshold

for student, score in student_scores.items():
    if score >= passing_threshold:
        print(student, "passed with a score of", score)
    else:
        print(student, "failed with a score of", score)

Alice passed with a score of 85
Bob passed with a score of 78
Charlie passed with a score of 92
David failed with a score of 59
Emma passed with a score of 95
Sam failed with a score of 33

In [73]:
#6) Write a program to classify a triangle as equilateral, isosceles, or scalene based on side lengths.
x=10 
y=20
z=10
print (x,y,z)
if x == y == z:
    print ("The given triangle is equilateral triangle")
elif x == y or x == z or y == z:
    print("The given triangle is isoscales triangle")
else:
    print ("Scalene Triangle")
    
# as you are changing the values of the x,y,z, it results in the different types of the triangles.

10 20 10
The given triangle is isoscales triangle